@model Evaluacion.Despacho.FRONT.Models.ResponseEmpleadoModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Nombre completo
            </th>        
            <th>
                Email
            </th>
            <th>
                Puesto
            </th>
            <th>
                RFC
            </th>       
            <th>
                Fecha de alta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empleados) {
        <tr>        
                @Html.HiddenFor(modelItem => item.IdEmpleado) 
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>        
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
