@model Evaluacion.Despacho.FRONT.Models.ResponseEmpleadoModel

@{
    ViewData["Title"] = "Index | Empleados";
}

<h2>Index | Empleados</h2>

<br />

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrear">Crear</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSearch">Buscar</button>
    <a asp-action="Refresh" class="btn btn-outline-success float-right">Actualizar</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Nombre completo
            </th>
            <th>
                Email
            </th>
            <th>
                Puesto
            </th>
            <th>
                RFC
            </th>
            <th>
                Fecha de alta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Empleados)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.IdEmpleado)
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rfc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    <button asp-action="Update" class="btn btn-sm btn-primary">Editar</button>

                    <button type="button" class="btn btn-sm btn-danger modalDelete" data-toggle="modal" data-target="#modalDelete" data-id="@item.IdEmpleado" id="@item.IdEmpleado">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Crear" id="formCrear">

    <div id="modalCrear" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Registrar un nuevo empleado</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.Nombre" class="control-label"></label>
                                <input asp-for="@Model.Empleado.Nombre" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.ApellidoPaterno" class="control-label"></label>
                                <input asp-for="@Model.Empleado.ApellidoPaterno" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.ApellidoPaterno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.ApellidoMaterno" class="control-label"></label>
                                <input asp-for="@Model.Empleado.ApellidoMaterno" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.ApellidoMaterno" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.FechaNacimiento" class="control-label"></label>
                                <input asp-for="@Model.Empleado.FechaNacimiento" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.FechaNacimiento" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.Rfc" class="control-label"></label>
                                <input asp-for="@Model.Empleado.Rfc" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.Rfc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.Direccion" class="control-label"></label>
                                <input asp-for="@Model.Empleado.Direccion" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.Direccion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.Email" class="control-label"></label>
                                <input asp-for="@Model.Empleado.Email" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Empleado.Telefono" class="control-label"></label>
                                <input asp-for="@Model.Empleado.Telefono" class="form-control" />
                                <span asp-validation-for="@Model.Empleado.Telefono" class="text-danger"></span>           
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(x => @Model.Empleado.Puesto.IdPuesto, new SelectList(@Model.Empleado.ListPuesto, "IdPuesto", "Descripcion", "-- Seleccione Puesto --"), htmlAttributes: new { @class = "form-control", id = "IdPuesto" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(x => @Model.Empleado.EstadoCivil.IdEstadoCivil, new SelectList(@Model.Empleado.ListEstadoCivil, "IdEstadoCivil", "Descripcion", "-- Seleccione Estado Civil --"), htmlAttributes: new { @class = "form-control", id = "IdEstadoCivil" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(x => @Model.Empleado.Genero.IdGenero, new SelectList(@Model.Empleado.ListGenero, "IdGenero", "Descripcion", "-- Seleccione Género --"), htmlAttributes: new { @class = "form-control", id = "IdGenero" })
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="form-group">

                        <input type="submit" value="Aceptar" class="btn btn-primary" id="btnCrearEmpleado" />

                        <input type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>

<form asp-action="Search">

    <div id="modalSearch" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Nueva búsqueda</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="@Model.Filtro.Nombre" class="control-label"></label>
                        <input asp-for="@Model.Filtro.Nombre" class="form-control" />
                        <span asp-validation-for="@Model.Filtro.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Filtro.RFC" class="control-label"></label>
                        <input asp-for="@Model.Filtro.RFC" class="form-control" />
                        <span asp-validation-for="@Model.Filtro.RFC" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@Model.Filtro.Estatus" /> Empleados actualmente laborando
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Aceptar" class="btn btn-primary" />

                        <input type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    </div>

                </div>

            </div>
        </div>
    </div>


</form>

<form asp-action="Delete">

    <div id="modalDelete" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Eliminar empleado</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body">

                    <p>¿Está seguro que desea eliminar (dar de baja) el empleado seleccionado?</p>

                    <input type="hidden" asp-for="@Model.Empleado.IdEmpleado" class="form-control idEmpleado_" />

                    <div class="form-group">
                        <input type="submit" value="Aceptar" class="btn btn-primary" />

                        <input type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    </div>

                </div>

            </div>
        </div>
    </div>


</form>

@if (Model.Empleados.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
}
<span></span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default disabled" })
}
